* {
  margin: 0px;
  padding: 0px;
  /* dit zorgt ervoor dat alles dicht op elkaar staat */
}

body{
  background-image: url(achtergrondafbeelding.jpg);
  background-size: cover;
  /* achtergrondafbeelding*/
}

#header{
  color: #ACEDFF;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 41px;
  text-align: center;
  /* background-color: #6F8AB7; */
  width: 100%;
  height: 75px;
  /* header schit*/
}

nav{
    color: #89BBFE;
    position: sticky;
    top: 0;
    font-family: 'Oswald', sans-serif;
    /* menu kleur en blijft plakken als ik scroll*/
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
  /* zorgt voor die mooie zijkanten ruimte*/
}

img{
  position: relative;
  left: 27%;
  /* imgage en positie*/
}

section article {
  color: white;
  background-color: rgb(60, 60, 60, .5);
  font-family: 'Oswald', sans-serif;
  /* doorzichtige achtergrond en tekst kleur*/
}

.h3{
  color: #ACEDFF;
  /* kleur van de h3tjes*/
}

.footer{
  position: fixed;
  bottom: 0px;
  color: white;
  background-color: #00004d;
  width: 76%;
  font-family: 'Oswald', sans-serif;
  /* onderaan de pagina heb je die footer dit zorgt ervoor dat hij scrollproof is*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #615D6C;
    /* de menu lijst shit*/
}

nav li {
    float: left;
    /* zorgt er voor dat het menu niet verticaal is*/
}

nav li a {
    display: block;
    color: #8ebeff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: white;
    color: #599fff;
}

.href:link {
  background-color: black;
}

.href:visited {
  color: white;
  font-size: 26px;
}

.href:hover {
  background-color: black;
  color: blue;
}

body {
    color: #80b3ff;
    font-family: 'Oswald', sans-serif;    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
