* {
  margin: 0px;
  padding: 0px;
}

#header{
  color: white;
  font-style: Comic Sans MS;
  font-size: 41px;
  background-color: #808080;
  text-align: center;
  /* background-image:url('headerimage5.jpg');
  background-size: cover; */
  background-color: black;
  width: 100%;
  height: 75px;
}

.link{
    color: #4dff4d;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

section {
  color: white;
}

section article {
  color: white;
}

body{
  background-color: #bfbfbf;
  background-image: url(achtergrondafbeelding.jpg);
  background-size: cover;
}
